
<!-- <app-featured-products></app-featured-products> -->
<app-header></app-header>
<app-carousel></app-carousel>


<!-- <app-show-product></app-show-product> -->
<!-- <app-category-products></app-category-products> -->
<app-product-view></app-product-view>
<app-featured-products-category></app-featured-products-category>
<app-featured-brands></app-featured-brands>


<!-- <app-order-address></app-order-address> -->


<!-- <app-seller-registration></app-seller-registration> -->

<!-- <app-footer></app-footer> -->


<!-- <app-register></app-register> -->

