<footer class="myntra-footer">
    <div class="container">
      <div class="footer-links">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="social-media">
        <a href="#"><img src="/eshop/src/assets/footer logos/facebook.png" alt="Facebook"></a>
        <!-- <a href="#"><img src="assets/twitter-icon.png" alt="Twitter"></a> -->
        <a href="#"><img src="/eshop/src/assets/footer logos/insta.png" alt="Instagram"></a>
      </div>
    </div>
  </footer>
  