<!-- <app-Sellerlogin></app-Sellerlogin> -->
<router-outlet></router-outlet>

<!-- <app-seller-registration></app-seller-registration> -->

<!-- <app-Sellerlogin></app-Sellerlogin> -->
<!-- <app-register></app-register>
<app-login> </app-login> -->
<!-- <app-home></app-home> -->
<!-- <app-header></app-header> -->
<!-- <app-featured-products></app-featured-products> -->
<!-- <app-reg-product></app-reg-product> -->
<!-- <app-show-product></app-show-product> -->
<!-- <app-userlogin></app-userlogin> -->

<!-- <app-login></app-login> -->
<!-- <app-payment></app-payment> -->