
<section class="shop-by-category">
    
    <h2>Featured By Product Category</h2>
  <div class="container">  
    <div class="offer-card">
      <img src="assets/products/Festive-Wear-Women.jpg" alt="Product 2">
      <h3>Festive Wear for Women</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button >Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Festive-Wear-Men.jpg" alt="Product 2">
      <h3>Festive Wear for Men</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Festive-Wear-Handbags.jpg" alt="Product 2">
      <h3>Festive Wear Handbags</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Festive-wear-Jewellery.jpg" alt="Product 2">
      <h3>Festive wear Jewellery</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Ethnic-Office-Wear-Women.jpg" alt="Product 2">
      <h3>Ethnic Office Wear Women</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Ethnic-Office-Wear-Men.jpg" alt="Product 2">
      <h3>Ethnic Office Wear Men</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Ethnic-Footwear-Women.jpg" alt="Product 2">
      <h3>Ethnic Footwear Women</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Ethnic-Wear-Saree.jpg" alt="Product 2">
      <h3>Ethnic Wear Saree</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Women-Ethnic-wear.jpg" alt="Product 1">
      <h3>Women Ethnic wear</h3>
      <p>Offer prices ......</p>
      <span class="price">upto 40% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button>Shop Now</button>
      </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Men-Ethnic-Wear.jpg" alt="Product 2">
      <h3>Men Ethnic Wear</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Kids-Ethnic-Wear.jpg" alt="Product 2">
      <h3>Kids Ethnic Wear</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Ethnic-Footwear-Men.jpg" alt="Product 2">
      <h3>Ethnic Footwear Men</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a routerLink="/showProducts">
      <button>Shop Now</button>
    </a>
    </div>
  </div>
</section>
