<section class="shop-by-category">
    
    <h2>Featured By Brands</h2>
  <div class="container">  
    <!-- Product 1 -->
    <div class="offer-card">
      <img src="assets/products/louis_philippe.jpg" alt="Product 1">
      <h3>Louis Philippe</h3>
      <p>Offer prices ......</p>
      <span class="price">upto 40% off</span> <!-- Use the rupee symbol -->
   
      <button  routerLink="/showProducts">Shop Now
      </button >

    </div>
    <!-- Product 2 -->
    <div class="offer-card">
      <img src="assets/products/Gucci-Logo.jpg" alt="Product 2">
      <h3>Gucci</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a href="category">
      <button>Shop Now</button>
    </a>
    </div>

    <!-- Add more product items as needed -->
    <div class="offer-card">
      <img src="assets/products/Tommy-Hilfiger-logo.jpg" alt="Product 2">
      <h3>Tommy Hilfiger</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a href="category">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets\products\zara.jpg" alt="Product 2">
      <h3>Zara</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <!-- <a href="category"> -->
      <button (click)="brandZara()" >Shop Now</button>
    <!-- </a> -->
    </div>
    <div class="offer-card">
      <img  src="assets/products/H&M.jpg" alt="Product 2">
      <h3>H&M</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <!-- <a href="category"> -->
      <button (click)="brandHm()">Shop Now</button>
    <!-- </a> -->
    </div>
    <div class="offer-card">
      
      <img src="assets/products/Skechers.jpg" alt="Product 2">
      <h3>Skechers</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a href="category">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/adidas.jpg" alt="Product 2">
      <h3>Adidas</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a href="category">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/jockey.jpg" alt="Product 2">
      <h3>Jockey</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a href="category">
      <button>Shop Now</button>
      </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/allen_solly.jpg" alt="Product 2">
      <h3>Allen Solly</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a href="category">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/roadster.jpg" alt="Product 2">
      <h3>Roadster</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <!-- <a href="category"> -->
      <button (click)="brandRoadster()">Shop Now</button>
    <!-- </a> -->
    </div>
    <div class="offer-card">
      <img src="assets/products/mast-harbour.jpg" alt="Product 2">
      <h3>Mast & Harbour</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a href="category">
      <button>Shop Now</button>
    </a>
    </div>
    <div class="offer-card">
      <img src="assets/products/Mango.jpg" alt="Product 2">
      <h3>Mango</h3>
      <p>Offer prices.......</p>
      <span class="price"> upto 70% off</span> <!-- Use the rupee symbol -->
      <a href="category">
      <button>Shop Now</button>
    </a>
    </div>
  </div>
</section>
